<!-- hero section -->

<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="img/book-cover.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500"
        loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3"> Food Tip Blog <br> from Backing Genius </h1>
      <p class="lead">Flavors & Dishes Around the World: A Culinary Journey</p>
    </div>
  </div>
</div>


<section id="history-section">

  <div class="my-5">
    <div class="p-5 text-center bg-body-tertiary">
      <div class="container py-5">
        <h1 class="text-body-emphasis">Join us</h1>
        <p class="col-lg-8 mx-auto lead">
          <b>Welcome Everybody</b><br>
          Step into the enchanting world of 'Flavors Around the Oven,' your ticket to a delightful culinary journey like
          no other.
          Join us as we embark on a flavorful adventure that goes beyond baking, uncovering the diverse tastes,
          traditions, and tales behind some of the most delightful baked creations from around the world. Whether you're
          a seasoned
          baker or a passionate home chef,
          our blog is your portal to unraveling, savoring, and rejoicing in the rich tapestry of baking flavors.
          Get ready to delight your taste buds and elevate your baking skills with us!"
        </p>
      </div>
    </div>
  </div>

</section>

<!-- pictures for style -->

<div class="row mb-2 justify-content-center">

  <div class="col-md-4 my-5 ">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 ">
      <div class="col p-4 ">
        <h3 class="mb-0">Quality and Selection</h3>
        <div class="mb-1 text-body-secondary">Nov 12</div>
        <p class="card-text mb-auto ">The quality of your ingredients is of paramount importance. Give
          your best to improve yourself, greetings from Tom Yu.

        </p>
      </div>

      <img src="img/ingrediens-backed.png" alt="cooking-together" height="400px" loading="lazy">
    </div>
  </div>


  <div class="col-md-4 my-5">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 ">
      <div class="col p-4 ">
        <h3 class="mb-0">Conscious Selection</h3>
        <div class="mb-1 text-body-secondary">Nov 12</div>
        <p class="mb-auto card-text ">Consider dietary considerations, preferences, and allergies when choosing your
          ingredients.
        </p>
      </div>

      <img src="img/cook-recipes.png" alt="cook-recipes" height="400px" loading="lazy">

    </div>
  </div>
</div>